*{
  padding: 0;
}
body{
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}
*:focus{
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}
.promo-site{
  width: 1440px;
  height: 2726px;
  background: #FFFFFF;
  margin: 0 auto; 
}
header{
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px #FF7500  solid;
  width: 1440px;
}
.header-img{
  width: 227; 
  height: 59.18;
}
.header-img:hover{
  opacity: 0.8;
}
.header-img:active{
  opacity: 0.6;
}
.header-list{
 display: flex;
 align-items: center;
}

.header-list-nav-ul{
  display: flex;
  align-items: center;
  list-style: none;
  color: #252420;
}
.header-nav-list-link{
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #252420;
  
}
.header-nav-list-link:hover{
  color: #FF7500;
}
.header-nav-list-link:active{
  opacity: 0.6;
}
.site-header-link{
  padding: 12px 24px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  font-weight: bold;
  background-color: #FF7500;
  text-decoration: none;
  color: #FFFFFF; 
}
.site-header-link:hover{
  opacity: 0.8;
}
.site-header-link:active{
  opacity: 0.6;
}

.rectangle{
  width: 1440px; 
}
.rectangle1{
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  width: 1440px;
  background-color: #252420;
}
.rectangle-text{
  padding-top: 80px;
  padding-bottom: 80px;
  width: 387px;  
}
.rectangle-text h2{
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.rectangle-text p{
  font-weight: normal;
  color: #FFFFFF;
}
.rectangle-img{
  width: 510px;
  height: 510px;
  border-radius: 8px  ;
}
.features{
  width: 1440px;
  background-color: #FFFFFF;
}
.line-hr{
  width: 92px;
  height: 3px;
  background-color: #FF7500;
}
.features-header{
  width: 435px;
}
.features-header h2{ 
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  color: #000000;
}
.features-item{
  display: flex;
  justify-content: space-evenly;
}
.features-list li{
  width: 340px;
  list-style: none;
  
}
.features-list li h3{
  font-weight: bold;
  font-size: 24px;
}
.features-list li p{
  font-weight: normal;
}
.features-list li img{
  width: 100px;

}
.sale{
  width: 1100px;
}
.sale-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1100px;
  background-color: #252420;
}
.sale-text{
  width: 440px;
  
}
.sale-text h2{
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #fff;
}
.sale-text p{
  font-weight: normal;
  line-height: 150%;
  color: #fff;
}
.sale-text p strong{
  color: #FF7500;
}
.sale-text a{
  width: 152px;
  height: 39px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
footer{
  width: 1440px;
  background-color:  #f8f8f8;
}
.footer-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
}
.footer-icon-list{
  display: flex;
  list-style: none;
}
.footer-icon-list a{
color: #252420;
}
.footer-icon-list a:hover{
  color: #FF7500;
}
.footer-icon-list a:active{
  opacity: 0.6;
}
.footer-bottom{
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
  height: 229px;
}
.footer-bottom-list{
  width: 224px;
  list-style: none;
}
.footer-bottom li a{
  font-weight: normal;
  line-height: 19px;
  text-decoration: none;
  color: #252420;;
}
.footer-bottom li a:hover{
  color: #FF7500;
}
.footer-bottom li a:active{
  opacity: 0.6;
}